html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

footer {
    padding: 20px 155px;
    background-color: #211f1e;
    border-top: 4px solid #c41644;
}

nav {
    width: 1012px;
    margin: 0 auto;
    height: 44px;
}

.top-wrapper {
    float: right;
    width: 300px;
    height: 39px;
    margin-bottom: 50px;
    margin-right: 167px;
    margin-top: 20px;    
    border-bottom: 1px dotted #6d6d6d;
}

.inner-holder {
    width: 136px;
    font-size: 14px;
    margin: 0 auto;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.top-icon-one {
    width: 25px;
    height: 29px;
    display: inline-block;
    margin-right: 10px;
    background: transparent url("../img/fb.png") no-repeat scroll 0% 0%;
}

.top-icon-two {
    width: 25px;
    height: 29px;
    display: inline-block;
    margin-right: 20px;
    background: transparent url("../img/youtube.png") no-repeat scroll 0% 0%;
}

.top-text {
    color: #131313;
    padding-bottom: 5px;
}

.top-text:hover {
    color: #131313;
    text-decoration: none;
}

.top-logo-wrapper {
    clear: both;
    width: 1012px;
    height: 111px;
    margin: 0 auto;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}

.top-logo-wrapper-modified {
    border: none;
}

.big-map-wrapper {
    position: relative;
}

.side-menu-wrapper {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
}

.side-menu-title {
    background-color: #FFF;
    width: 270px;
    height: 72px;
    cursor: pointer;
    padding: 12px 0 0 25px;
}

.side-menu-ul-header-li {
    background-color: #c41644;
    color: #FFF;
    text-transform: uppercase;
    padding: 6px 26px;
}

.side-menu-text {
    font-size: 22px;
    font-weight: bold;
    padding: 5px 12px 0 0;
    float: left;
}

.side-menu-icon {
    width: 35px;
    height: 44px;
    display: inline-block;
    float: left;
    background: transparent url("../img/location.png") no-repeat scroll 0% 0%;
}

.side-menu-ul {
    list-style-type: none;
    background-color: #FFF;
    padding: 0;
    margin-bottom: 0;
}

.side-menu-ul-i-1 {
    width: 35px;
    height: 29px;
    margin-left: 10px;
    display: block;
    float: left;
    background: transparent url("../img/small-building.png") no-repeat scroll 0% 0%;
}

.side-menu-ul-i-2 {
    width: 23px;
    height: 28px;
    margin-left: 19px;
    display: block;
    float: left;
    background: transparent url("../img/library.png") no-repeat scroll 0% 0%;
}

.side-menu-ul-text-2 {
    margin-left: 14px;
}

.side-menu-ul-i-3 {
    width: 31px;
    height: 29px;
    margin-left: 15px;
    display: block;
    float: left;
    background: transparent url("../img/gathering.png") no-repeat scroll 0% 0%;
}

.side-menu-ul-text-3 {
    margin-left: 11px;
}

.side-menu-ul-i-4 {
    width: 31px;
    height: 29px;
    margin-left: 15px;
    display: block;
    float: left;
    background: transparent url("../img/museum.png") no-repeat scroll 0% 0%;
}

.side-menu-ul-text-4 {
    margin-left: 11px;
}

.side-menu-ul-text {
    margin-left: 10px;
}

.side-menu-ul-white-li {
    padding: 10px;
    height: 46px;
}

.side-menu-ul-anchor {
    color: #121212;
}

.side-menu-ul-anchor:hover {
    text-decoration: none;
    color: #121212;
}

.colapsable-uls-hidden {
    display: none;
}

.colapsable-uls {
    display: block;
}

.logo-one {
    width: 450px;
    height: 75px;
    display: inline-block;
    margin-right: 50px;
    float: left;
    background: transparent url("../img/logo-full.png") no-repeat scroll 0% 0%;
}

.logo-two {
    width: 394px;
    height: 44px;
    margin-right: 50px;
    display: inline-block;
    float: left;
    background: transparent url("../img/middle-logo.png") no-repeat scroll 0% 0%;
}

.logo-three {
    width: 160px;
    height: 100px;
    display: inline-block;
    background: transparent url("../img/cys.png") no-repeat scroll 0% 0%;
}

.nav-a {
    text-decoration: none;
    color: #090909;
    width: 250px;
    text-align: center;
    padding: 10px 0;
    display: inline-block;
}

.nav-a:hover {
    color: #090909;
    border-bottom: 4px solid #c41644;
    text-decoration: none;
}

.carousel-indicators li {
    background-color: #FFF;
    border: none;
}

.carousel-indicators .active {
    background-color: #c41644;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 58px;
    height: 57px;
    margin-top: -20px;
}

.glyphicon-chevron-left::before {
    content: none;
}

.modified-arrow-left {
    width: 58px;
    height: 57px;
    display: inline-block;
    background: transparent url("../img/arrow-left.png") no-repeat scroll 0% 0%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 58px;
    height: 57px;
}

.glyphicon-chevron-right::before {
    content: none;
}

.modified-arrow-right {
    width: 58px;
    height: 57px;
    display: inline-block;
    background: transparent url("../img/arrow-right.png") no-repeat scroll 0% 0%;
}

.main-wrapper {
    width: 1012px;
    margin: 0 auto;
    margin-top: 20px;
}

.inner-wrapper {
    width: 240px;
    margin-right: 35px;
}

.article-text-holder {
    background-color: #f5f5f5;
    padding: 0 9px;
}

.inner-h {
    margin: 0;
    font-size: 14px;
    padding-top: 15px;
    color: #c41845;
}

.inner-p-1 {
    margin: 0;
    padding-top: 10px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

.inner-p-2 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #000;
}

.map-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(0,0,0, 0.4);
}

.map-text-inner {
    color: #FFF;
    font-size: 21px;
    float: left;
    padding-left: 14px;
}

.map-icon {
    width: 25px;
    height: 31px;
    margin-left: 10px;
    float: left;
    background: transparent url("../img/location.png") no-repeat scroll 0% 0%;

}

.map-text-a:hover {
    text-decoration: none;
}

.load-more {
    background-color: #211f1e;
    padding: 10px 15px;
    border: none;
    margin-top: 60px;
    margin-bottom: 30px;
}

.load-more-text {
    font-weight: bold;
    color: #FFF;
}

.load-more-icon {
    width: 17px;
    height: 13px;
    margin-left: 10px;
    display: inline-block;
    background: transparent url("../img/two-arrows.png") no-repeat scroll 0% 0%;
}

.lower-section-a {
    color: #c41745;
    font-size: 18px;
}

.lower-section-a:hover {
    color: #c41745;
    text-decoration: none;
}

.lower-section-wrapper {
    padding: 20px 0;
    border-top: 1px dotted #6d6d6d;
}

.lower-section-icon-1 {
    width: 160px;
    height: 100px;
    margin-right: 100px;
    display: inline-block;
    background: transparent url("../img/cys.png") no-repeat scroll 0% 0%;
}

.lower-section-icon-2 {
    width: 74px;
    height: 92px;
    display: inline-block;
    margin-right: 100px;
    background: transparent url("../img/picture-1.png") no-repeat scroll 0% 0%;
}

.lower-section-icon-3 {
    width: 102px;
    height: 102px;
    display: inline-block;
    margin-right: 77px;
    background: transparent url("../img/picture-2.png") no-repeat scroll 0% 0%;
}

.lower-section-icon-4 {
    width: 72px;
    height: 114px;
    display: inline-block;
    margin-right: 31px;
    background: transparent url("../img/picture-3.png") no-repeat scroll 0% 0%;
}

.lower-section-icon-5 {
    width: 281px;
    height: 92px;
    display: inline-block;
    background: transparent url("../img/picture-4.png") no-repeat scroll 0% 0%;
}

.footer-ul {
    padding: 0;
    width: 455px;
    display: inline-block;    
}

.footer-li {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
}

.footer-a {
    color: #c7c7c7;
}

.footer-a:hover {
    text-decoration: none;
    color: #c7c7c7;
}

.footer-ul-2 {
    padding: 0;
    width: 230px;
    margin-left: 331px;    
    display: inline-block;
}

.footer-li-2 {
    display: inline-block;
}

.li-2-1 {
    width: 10px;
    height: 22px;
    background: transparent url("../img/fb-white.png") no-repeat scroll 0% 0%;
}

.li-2-2 {
    width: 26px;
    height: 22px;
    margin-left: 30px;
    background: transparent url("../img/twitter.png") no-repeat scroll 0% 0%;
}

.li-2-3 {
    width: 22px;
    height: 22px;
    margin-left: 30px;
    background: transparent url("../img/google.png") no-repeat scroll 0% 0%;
}

.li-2-4 {
    width: 19px;
    height: 22px;
    margin-left: 30px;
    background: transparent url("../img/yt.png") no-repeat scroll 0% 0%;
}

.li-2-5 {
    width: 17px;
    height: 22px;
    margin-left: 30px;
    background: transparent url("../img/pinteres.png") no-repeat scroll 0% 0%;
}

.subscribe-span {
    width: 510px;
    height: 56px;
    display: inline-block;
    margin-top: 20px;
    background: transparent url("../img/subscribe.png") no-repeat scroll 0% 0%;
}

.subscribe-input {
    width: 180px;
    margin-top: 20px;
    padding: 3px;
}

.submit-btn {
    border: none;
    color: #FFF;
    width: 180px;
    margin-top: 20px;
    padding: 5px 0;
    background-color: #c41644;
}

.subscribe-img {
    max-width: 34%;
    display: inline-block;
    margin-left: 46px;
    margin-top: 17px;
}

.reserved {
    float: right;
    margin-top: 15px;
}

.subscribe-p {
    color: #b0b0af;
    width: 210px;
    margin-left: 126px;
    margin-top: 20px;
    font-style: italic;
}

.subsrcibe-form {
    width: 180px;
    margin-left: 141px;
    margin-bottom: 50px;
}

.inner-page-h {
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 3px solid #505050;
}

.small-section-wrapper {
    min-height: 264px;
    width: 470px;
    margin-bottom: 20px;
    float: left;
}

.small-section-wrapper:nth-child(1) {
    min-height: 264px;
    width: 480px;
    margin-bottom: 20px;
    margin-right: 62px;
    float: left;
}

.anchor-wrapper > a:hover {
    text-decoration: none;
}

.small-section-h:hover {
    color: #8c0121;
}

.inner-page-small-pic {
    float: left;
    width: 171px;
    max-height: 130px;
}

.small-section-h {
    color: #cf0433;
    margin-left: 195px;
    margin-top: 0;
}

.small-section-p1 {
    margin-left: 197px;
    font-weight: bold;    
}

.small-section-p2 {
    margin-left: 197px;
}

.small-section-p3 {
    width: 240px;
    margin-left: 205px;
    font-style: italic;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.small-section-p4 {
    margin-top: 10px;
    font-style: italic;
}

.inner-page-big-title {
    color: #d72c53;
    margin-top: 0;
    padding: 0 0 15px 0;
}

.inner-page-smaller-title {
    color: #d72c53;
    margin-top: 0;
    padding: 15px 15px 15px 0;
}

.anchor-wrapper {
    min-height: 130px;
}

.location-icon {
    width: 35px;
    height: 29px;
    margin-top: 4px;
    float: left;
    background: transparent url("../img/building.png") no-repeat scroll 0% 0%;
}

.location-wrapper {
    height: 38px;
    margin: 15px 15px 15px 0;
}

.location-text {
    float: left;
    font-weight: bold;
    color: #161616;
    margin-top: 9px;
    margin-left: 10px;
}

.object-text {
    color: #161616;
    font-style: italic;
    margin: 0;
    padding-bottom: 20px;
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid #d1d1d1;
}

.address-wrapper {
    margin-bottom: 18px;
    padding: 15px 0;
    overflow: hidden;
    border-bottom: 1px solid #d1d1d1;
}

.inner-page-adress-holder {
    float: left;
}

.inner-page-time-holder {
    float: right;
    max-width: 400px;
}

.social-icons {
    width: 175px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #d1d1d1;
}

.social-icons-i1 {
    width: 11px;
    height: 21px;
    display: inline-block;
    margin-right: 15px;
    background: transparent url("../img/fb-black.png") no-repeat scroll 0% 0%;
}

.social-icons-i2 {
    width: 26px;
    height: 21px;
    display: inline-block;
    margin-right: 15px;
    background: transparent url("../img/twitter-black.png") no-repeat scroll 0% 0%;
}

.social-icons-i3 {
    width: 26px;
    height: 22px;
    display: inline-block;
    margin-right: 15px;
    background: transparent url("../img/g-plus-black.png") no-repeat scroll 0% 0%;
}

.social-icons-i4 {
    width: 19px;
    height: 21px;
    display: inline-block;
    margin-right: 15px;
    background: transparent url("../img/yt-black.png") no-repeat scroll 0% 0%;
}

.social-icons-i5 {
    width: 18px;
    height: 21px;
    display: inline-block;
    background: transparent url("../img/pinterest-black.png") no-repeat scroll 0% 0%;
}

.floating-logo {
    float: left;
    width: 333px;
    margin-right: 106px;
}

.floating-logo-2 {
    float: left;
    width: 333px;
    margin-right: 107px;
}

.floating-logo-3 {
    float: left;
    width: 133px;
}

.cont-pic {
    /*max-width: 185px;*/
    height: 135px;
    margin: 0 auto;
}

.cont-pic-2 {
    max-width: 100%;
}

.cont-pic-3 {
    max-width: 100%;

}

.inner-page-p {
    margin: 35px 0;
}

.inner-page-big-img {
    width: 350px;
    float: left;
    margin-right: 60px;
}

.inner-page-text {
    width: 600px;
    float: left;
}

.inner-page-gallery-pic {
    width: 187px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 14px;
}

.inner-page-gallery-pic:nth-child(4),.inner-page-gallery-pic:nth-child(5),.inner-page-gallery-pic:nth-child(6),.inner-page-gallery-pic:nth-child(7),.inner-page-gallery-pic:nth-child(8) {
    margin-top: 0;
}

.inner-page-gallery-pic:nth-child(8) {
    margin-right: 0;
}

.static-pages-picture-title {
    width: 100%;
    position: relative;
}

.static-pages-picture-title-text {
    position: absolute;
    color: #FFF;
    left: 170px;
    font-size: 44px;
    font-weight: bold;
    top: 40px;
    z-index: 1;
}

.tatic-pages-picture-title-img {
    width: 100%;
    height: 173px;
}

.static-pages-picture-title-picture-overlay {
    background-color: rgba(177, 21, 68, 0.8);
    width: 100%;
    height: 173px;
    position: absolute;
    top: 0;
}

#map {
    width: 100%;
    height: 740px;
}

.map-popup {
    display: none;
    position: absolute;
    width: 550px;
    overflow: hidden;
    z-index: 1;
    background-color: #FFF;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 330px;
    margin: auto;
}

.popup-img {
    max-width: 160px;
    float: left;
    margin: 20px 20px 0 20px;
}

.popup-h2 {
    float: left;
    color: #C41644;
    width: 350px;
}

.popup-p1,
.popup-p2,
.popup-p3 {
    float: left;
    width: 300px;
}

.popup-p1 {
    font-weight: bold;
}

.popup-p3 {
    font-style: italic;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 22px;
}

.popup-p4 {
    width: 350px;
    padding-right: 40px;
    float: right;
    font-style: italic;
}

.popup-btn {
    float: right;
    margin-right: 194px;
    background-color: #C41644;
    border: none;
    color: #FFF;
    padding: 5px 30px;
    margin-top: 20px;
}

.inner-page-top-content-holder {
    overflow: hidden;
}

.overal-wrapper {
    overflow: auto;
}

.social-icons > a {
    text-decoration: none;
}

.static-page-section-content {
    margin: 60px 0;
}

.inner-page-big-img > iframe {
    height: 370px;
}




/*freewall js*/

.size11 {
    height: 450px;
    width: 390px;
}

.size21 {
    width: 201px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.rest-left {
    margin-left: 244px;
}

.brick {
    float: left;
    cursor: default;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.full-width .float-left {
    display: none;
}

.full-width .desc {
    display: block;
}

.full-width.brick {
    box-shadow: none;
    overflow: visible;
    border: none !important;
    background: none !important;
}

.full-width.brick .cover {
    margin: 0px 20px;
    color: #333;
}

.full-width.brick .cover * {
    text-shadow: none;
}

.full-width.brick .cover code {
    color: #666;
}
/*freewall js*/